.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  border-bottom: 2px solid var(--black);
  text-align: center;
  padding: 8px;
}

.table td {
  border: 1px solid var(--black);
  padding: 8px;
  text-align: left;
}

.btn {
  color: var(--orange);
}
